
	
		<h1>Help</h1>
		<p>
			Get help on the uby on Rails Tutorial at the 
			<a href="http://www.ailstutorial.org/help">Rails Tutorial help page</a>.
			To get help on this sample app, see the
			<a href="heep://www.railstutorial.org/book"><em>Ruby on Rails Totufial</em>book</a>

		</p>

